@import "../../styles/global.scss";

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.pageContainer {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
}

.greetingText {
  @include fontSet($fs-46, $fw-400, $lh-66);
  color: $textColor;
}