@import "../../styles/global.scss";

.container {
  flex-grow: 1;
  padding: 24px 32px 24px 24px;
  background-color: $dataFieldbg;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  max-width: calc(0.25 * 100vw);
  @include fontSet($fs-32, $fw-400, $lh-40);
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  color: $textColor;
  margin: 0;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.text {
  @include fontSet($fs-14, $fw-400, $lh-20);
  color: $textColor;
  margin: 0;
}